body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden; /* 가로 스크롤 방지 */
    background-color: #f9f9f9;
}

header {
    background-color: #f4f4f400; 
    color: #333;
    text-align: center;
    padding: 1rem 10%; /* 내부 패딩 추가 */
    position: fixed; /* 화면 상단에 고정 */
    top: 0;
    left: 0;
    width: 80%;
    backdrop-filter: blur(10px);
    z-index: 1000; /* 다른 요소보다 위에 오도록 설정 */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; /* 좌우 패딩 추가 */
}

.nav-left h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* 항목이 화면 크기를 넘어서지 않도록 설정 */
}

.nav-right li {
    margin-left: 1.5rem;
}

.nav-right a {
    color: #333; /* 텍스트 색상 설정 */
    text-decoration: none;
    font-weight: 400;
}

.nav-right a:hover {
    font-weight: 600;
}

section {
    margin: 2rem 0; /* 좌우 마진 제거 */
    padding: 1rem 20%; /* 좌우 10% 패딩 추가 */
    border-radius: 5px;
}

#intro {
    margin-top: 100px; /* header 높이만큼 상단 마진 추가 */
}

#intro h4 {
    color: #2B388F;
}

#quote {
    padding-top: 1rem;
}

#skills .skill div {
    display: inline-block;
    text-align: center;
    background:rgba(135,131,120,.15);
    color:#555555;
    border-radius:4px;
    font-size:85%;
    padding:0.2em 0.4em;
    font-weight:600;
}

/* ------------------------ */
/*   Research Page Styles   */
/* ------------------------ */

.tag {
    padding-top: 1rem;
}

.tag div {
    display: inline-block;
    text-align: center;
    background:rgba(135,131,120,.15);
    color:#1B75BC;
    border-radius:4px;
    font-size:85%;
    padding:0.2em 0.4em;
    font-weight:600;
    fill:#1B75BC;
}


/* ---------------------- */
/*  Projects Page Styles  */
/* ---------------------- */

#projects-container {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0px;
    padding: 0;
}

.projects {
    text-align: left;
    padding-left: 1vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1vh;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-title {
    font-weight: 600;
}

.project-key-image {
    background-color: #22A8E057;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.project-description {
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.project-title a {
    color: #333; /* 텍스트 색상 설정 */
    text-decoration: none;
    font-weight: 600;
}

.project-title a:hover {
    color: #333; /* 텍스트 색상 설정 */
    text-decoration: none;
    font-weight: 800;
}

/* ---------------------- */
/*   Design Page Styles   */
/* ---------------------- */

#design-container {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.design {
    background-color: #22A8E057;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    margin: .5vh .5vh .5vh .5vh;
    text-align: center;
}

.design:hover {
    background-color: #22A8E0c3;
    color: #f9f9f9;
}


footer {
    color: #333;
    text-align: center;
    padding: 1rem 10%; /* 좌우 10% 패딩 추가 */
    bottom: 0;
    width: 80%; /* 여백을 고려하여 너비를 80%로 설정 */
    left: 10%; /* 좌측 여백 설정 */
}

/* 전체 스크롤바 설정 */
::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
}

/* 스크롤바의 트랙 (스크롤바 배경) */
::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

/* 스크롤바의 핸들 (드래그할 수 있는 부분) */
::-webkit-scrollbar-thumb {
    background: #ebebeb; /* 핸들의 색상 */
    border-radius: 10px; /* 모서리 둥글게 */
}